*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.header_one{
    background-color: #ffc749;
}
.logo_left{

}
.logo_image{

}
.logo_image img{
    width: 45%;
    padding-left: 50px;
}
.head{

}
.head_content{
    display: flex;
    justify-content: end;
}
.head_image{

}
.head_image img{
    margin-right: 10px;
}
.head_text{
    padding-right: 135px;
}
.head_text p{
    color: #42200b;
    font-weight: 500;
}
.navbar-expand-lg {
    padding: 0;
}
.navbar-light .navbar-nav .nav-link {
    color: #42200b;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 25px;
}
.header_two{
     background-color: #ffc749;
}
.header_three{
     background-color: #ffc749;
}
.header_text{
     padding-top: 208px;
}
.header_p {
    height: 50px;
    padding-right: 190px;
}
.header_p p{
    margin-left: 50px;
    text-transform: uppercase;
    color: #42200b;
    font-weight: 400;
    padding: 0;
    border: 2px dashed;
    border-radius: 5%;
    padding: 10px;
}
.header_text h1{

    text-transform: uppercase;
    color: #42200b;
    font-weight: 800;
    font-size: 80px;
    margin-left: 50px;
    text-shadow: 2px 2px #fff;
    box-shadow: 1px #fff;
}
.header_text h3{
    margin-left: 50px;
    text-transform: uppercase;
    color: #42200b;
    font-weight: 800;
    font-size: 60px;
    text-shadow: 2px 2px #fff;
}
.header_image{
    position: relative;
}
.header_image img{
    width: 100%;
}
.icon_2{
    height: 100px;
    width: 100px;
    background-color: #df1c1c;
    border-radius: 50%;
    position: absolute;
    bottom: 160px;
    left: 170px;
}
.icon_content{
    height: 85px;
    width: 85px;
    border-radius: 50%;
    border: 2px dashed #fff;
    margin-left: 7px;
    margin-top: 7px;
}
.icon_number{
    display: flex;
    justify-content: center;
}
.icon_number h1{
    padding-top: 10px;
    color: #fff;
}
.icon_number h3{
    padding-top: 25px;
    font-size: 20px;
    color: #fff;
}
.icon_content h6{
    text-align: center;
    margin-top: -13px;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: -13px;
}
.banner{
    position: relative;
}
.left_content{

}
.left_image{

}
.left_image img{

}
.left_text{
    position: absolute;
    top: 75px;
    padding-left: 14px;
}
.left_text h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;
    font-weight: 400;
}
.left_text h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    padding-top: -40px;
}
.rightup_content{
    margin-bottom: 32px;
}
.rightup_image{

}
.rightup_image img{

}
.rightup_text{
    position: absolute;
    top: 45px;
    padding-left: 15px;
    padding-top: 10px;

}
.rightup_text h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}
.rightup_text h2{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    margin: 0;
}
.rightup_text h1{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    margin: 0;
}
.rightdown_content{

}
.rightdown_image{

}
.rightdown_image img{

}
.rightdown_text{
    position: absolute;
    top: 268px;
    padding-left: 15px;
}
.rightdown_text h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
}
.rightdown_text h1{ 
    color: #fff;  
    text-transform: uppercase;
    font-size: 25px;
    margin: 0;
}
.tasty{

}
.heading{
   
}
.heading h1{
    text-transform: uppercase;
    font-size: 24px;
    background-color: #ffc135;
    padding: 8px 12px;
    color: #42200b;
    font-weight: 600;
    display: inline-block;
}
.heading_text{

}
.heading_text h1{
    color: #42200b;
    text-transform: uppercase;
    font-weight: 800;
}
.heading_text p{
    color: #42200b;
}
.choose_content{

}
.choose_image1{

}
.choose_image1 img{

}
.choose_image2{

}
.choose_image2 img{

}
.choose_image3{

}
.choose_image3 img{
    
}
.choose_text{

}
.choose_text h1{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #42200b;
}
.choose_text p{
    text-align: center;
    font-weight: 400;
    color: #42200b;
}
.btn-order{
    background-color: #df1c1c;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
    font-weight: 800;
}
.btn-order:hover{
    background-color: rgb(196, 6, 6);
    color: #fff;
}
.event{

}
.event_content {
    box-shadow: 0px 10px 40px rgb(0 0 0 / 10%);
    padding: 20px 20px;
}
.event_text {
    margin-left: 20px;
}
.event_text h2{
    color: #3b3b3b;
    text-transform: uppercase;
    font-size: 22px;
    margin: 0;
}
.event_text h1{
    color: #42200a;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}
.event_text p{
    color: #3b3b3b;
    font-size: 16px;
}
.event_image{

}
.event_image img{
    
}
.form_part{
     background-image: url(../images/form_bg.png);
     background-position: revert;
     background-repeat: no-repeat;
     background-size: cover;
     padding-bottom: 155px;
}
.form_content{
    padding-top: 100px;
}
.form_content h2{
    text-align: center;
    color: #42200b;
    text-transform: uppercase;
    font-size: 25px;
    margin: 0;
}
.form_content h1{
    text-align: center;
    color: #42200b;
    text-transform: uppercase;
    font-weight: 800;
}
form{
    padding-top: 50px;
}
form input{
    margin-bottom: 20px;
}
form input::placeholder{
    text-transform: uppercase;
}
form input[type="submit"]{
    background-color: #df1c1c;
    border: 1px solid #df1c1c;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
}
form input[type="submit"]:hover{
    background-color: rgb(196, 6, 6);
}
footer{
    background-image: url(../images/footer_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
    margin-left: 40px;
    margin-right: 40px;
}
.footerup_left{

}
.footerup_image{

}
.footerup_image img{
    width: 60%;
}
.footerup_text{

}
.footerup_text p{
    color: #fff;
    margin: 35px 0;
    padding-top: 50px;
    font-size: 15px;
    font-weight: 400;
}
.footerup_right{
    padding-top: 135px;
    padding-left: 132px;
}
.up{
    display: flex;
    justify-content: center;
}
.icon_up{

}
.icon_up ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.icon_up ul li{
    color: #fff;
    margin-top: 2px;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.icon_up ul li i{
    color: #fff;
    font-size: 25px;
    height: 25px;
    width: 25px;
    text-align: center;
}
.icon_up p{

margin: 0;

font-size: 16px;

margin-left: 8px;

/* font-weight: 300; */
}
.middle{

}
.icon_middle{

}
.icon_middle ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.icon_middle ul li{
    color: #fff;
    margin-top: 2px;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.icon_middle ul li i{
    color: #fff;
    font-size: 22px;
    margin-left: 34px;
    margin-right: 7px;
    height: 25px;
    width: 25px;
    text-align: center;
}
.icon_middle p{
    
margin: 0;
    
font-size: 16px;
    
/* font-weight: 300; */
}
.down_left{

}
.down_left h3{
    color: #fff;
    padding-top: 80px;
    font-size: 12px;
    padding-bottom: 10px;
    font-weight: 200;
    text-transform: uppercase;
}
.down_right{
  
}
.down_right ul{
    list-style: none;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
   
}
.down_right ul li{
    color: #fff;
    margin-top: 2px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    font-size: 22px;
}
.down_right ul li a{

}
.down_right ul li a i{
    color: black;
    background-color: #fff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 18px;
}
.owl-dot span{
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color:rgb(196, 196, 196);
    border-radius: 50px;
    margin: 0 3px;
}
.owl-dots{
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.owl-dots .active span{
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: rgb(182, 182, 182);
    border-radius: 50px;
    margin: 0 3px;
}
.owl-dot:focus{
   outline: none;
}
.owl-nav{
    display: none;
}